@import "theme.css";

a {
    color: var(--text);
    text-decoration: none;
}

body {
    font-family: "LXGW WenKai";
    margin: 0;
    background-color: var(--bg);
    color: var(--text);
}

footer {
    text-align: center;
    margin-top: auto;
}

.block {
    display: block;
    text-align: center;
    margin: 0 auto;
    width: 8rem;
}